SoapGate/resources/CompanyInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:abs="http://custsystems.com/integration/abs" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://custsystems.com/integration/abs">
    <xsd:complexType name="CompanyInfoResponse">
        <xsd:sequence>
            <xsd:element name="reqID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SubSys" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AnsDateTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ClientID" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Шифр клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="FullName" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Полное наименование клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="ShortName" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Сокращенное наименование клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntName" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Международное наименование клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="INN" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>ИНН клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="KPP" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>КПП клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="KPP2" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>2-е КПП клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="KPP3" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>3-е КПП клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="KPP4" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>4-е КПП клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="OGRN" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>ОГРН клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="OGRN_DATE" type="xsd:date">
                            <xsd:annotation>
                                <xsd:documentation>Дата ОГРН</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="OKPO" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>ОКПО клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="OKATO" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>ОКАТО клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IFNS" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>ИФНС клиента</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Fax" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Факс</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Telex" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Телекс</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PhoneHome" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Номер домашнего телефона</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PhoneMobile" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Номер мобильного телефона</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PhoneWork" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Номер рабочего телефона</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Email" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Адрес электронной почты</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawAddress" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Полный адрес. Формат: код государства, индекс, код региона, район, город, населенный пункт, улица, дом,
									корпус, квартира. Пример: Россия, г.Москва, ул. Героев Панфиловцев, д. 21, кв. 203.
								</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawCountry" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Страна</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawCountryCode" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Цифровой код страны</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawZIP" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Почтовый индекс</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawRegion" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Регион</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawArea" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Район</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawCity" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Населенный пункт</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawCityType" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Тип населенного пункта</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawStreet" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Улица</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawHouse" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Дом</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawFrame" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Корпус</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="LawFlat" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Квартира</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntAddress" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Полный адрес. Формат: код государства, индекс, код региона, район, город, населенный пункт, улица, дом,
									корпус, квартира. Пример: Россия, г.Москва, ул. Героев Панфиловцев, д. 21, кв. 203.
								</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntCountry" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Страна</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntCountryCode" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Цифровой код страны</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntZIP" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Почтовый индекс</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntRegion" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Регион</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntArea" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Район</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntCity" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Населенный пункт</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntCityType" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Тип населенного пункта</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntStreet" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Улица</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntHouse" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Дом</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntFrame" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Корпус</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IntFlat" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Квартира</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Resident" type="abs:logical">
                            <xsd:annotation>
                                <xsd:documentation>Признак резидента (1 - резидент;0 - не резидент)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="logical">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
